.wrap__404 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 0;
}

.wrap__404 img {
  width: 500px;
}

.notfound__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn__primary {
  width: 280px;
  padding: 0 40px;
  margin-top: 15px;
  display: flex;
  align-items: center;
}

@media (max-width: 1280px) {
  .wrap__404 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .wrap__404 img {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .wrap__404 {
    margin: 80px 0;
  }
  .wrap__404 .text-4xl {
    font-size: 28px;
    line-height: 32px;
  }
  .wrap__404 .text-xl {
    font-size: 16px;
    line-height: 18px;
  }
}

@media (max-width: 768px) {
  .wrap__404 {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 40px;
    margin: 40px 0;
  }
  .wrap__404 img {
    order: 0 !important;
  }
  .wrap__404 .notfound__info {
    align-items: center;
    width: 100%;
    gap: 10px;
  }
  .wrap__404 .notfound__info .text-4xl {
    font-size: 24px;
    line-height: 26px;
  }
  .wrap__404 .notfound__info .text-xl {
    opacity: 0.6;
  }
  .wrap__404 .notfound__info .text-xl,
  .wrap__404 .notfound__info .text-lg {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
  .wrap__404 .btn__primary {
    margin-top: 0;
  }
}

@media (max-width: 640px) {
}
