@import url("./_color.css");

.about__us {
  display: flex;
  flex-direction: column;
  max-width: 680px;
  margin: 0 auto;
}

.about__us img {
  width: 280px;
  margin-top: 70px;
}

.about__us h3 {
  margin: 35px 0 20px 0;
}

.about__us ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
