@import url("./_color.css");

.wrap__cart {
  display: flex;
  gap: 45px;
}

.cart__info {
  display: flex;
  flex-direction: column;
  gap: 45px;
  flex-grow: 1;
}

.cart__info .cart__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--gray-100);
}
.cart-item img {
  width: 78px;
}
.cart-item .info {
  flex: 1;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cart-item .info p {
  width: 280px;
}
.cart-item .quantity {
  display: flex;
  align-items: center;
  height: 40px;
  width: 130px;
  justify-content: space-between;
  border: 1.5px solid var(--yellow-500);
  border-radius: 10px;
  margin-right: 50px;
}
.cart-item .quantity span {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.cart-item button {
  font-size: 24px;
  border: none;
  background: none;
  padding: 5px 10px;
  cursor: pointer;
}
.cart-item .remove {
  padding: 0;
  font-size: 18px;
  cursor: pointer;
  margin-left: 40px;
  align-items: start;
  display: flex;
}

#remove__all:hover {
  cursor: pointer;
}

.cart__main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 380px;
  align-items: center;
}

.cart__main .cart__card {
  width: 100%;
  padding: 20px;
  border: 1px solid var(--gray-100);
  border-radius: 12px;
}

.btn__primary {
  width: 100%;
}

.btn__link {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-color: var(--yellow-500);
  border-width: 1.5px;
}

.btn__link:hover {
  cursor: pointer;
  opacity: 0.8;
}

.cart__card ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart__card ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__card .total__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.simple__products {
  margin-top: 100px;
}

.simple__products__title {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.wrap__product {
  display: flex;
  gap: 23px;
  align-items: center;
}

#simple__products {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}

.go__next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  min-width: 54px;
  height: 54px;
  border-radius: 50%;
  background: var(--white);
  opacity: 0.7;
  box-shadow: 0px 4px 10px 0px rgba(115, 121, 140, 0.15);
}
.wrap__quantity {
  display: flex;
}

.min-h-11 {
  min-height: 44px;
}



@media (max-width: 1280px) {
  .simple__products .text-4xl {
    font-size: 32px;
    line-height: 36px;
  }
  #simple__products {
    gap: 20px;
  }
}
@media (max-width: 1180px) {
  #simple__products {
    grid-template-columns: repeat(3, 1fr);
  }
  .product__card {
    gap: 5px;
  }
}
@media (max-width: 1024px) {
  .wrap__cart {
    flex-direction: column;
  }
  .cart__main {
    width: 100%;
  }
  .wrap__btns {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 30px;
  }
  .wrap__btns .btn__link {
    margin: 0;
  }
  #cart .cart-item {
    padding: 20px 0;
  }
  .product__card .product__character {
    margin-top: 0;
  }
  .product__card .product__character,
  .product__card .product__character .text-15 {
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 768px) {
  .wrap__cart,
  .cart__info {
    gap: 25px;
  }
  .wrap__cart .text-4xl {
    font-size: 32px;
    line-height: 36px;
  }
  .wrap__cart .text-lg {
    font-size: 16px;
    line-height: 18px;
  }
  .wrap__cart .wrap__price {
    font-size: 14px;
    line-height: 16px;
  }
  .cart-item .info p {
    width: auto;
  }
  .simple__products {
    margin-top: 50px;
  }
  .go__next {
    display: none;
  }
}

@media (max-width: 768px) {
  #simple__products {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 640px) {
  #cart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  #cart .cart-item {
    padding: 0;
    border: none;
  }
  .cart-item {
    flex-direction: column;
    gap: 5px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px !important;
  }
  .cart-item img {
    width: 100%;
  }
  .cart-item .info {
    margin-left: 0;
  }
  .cart-item .quantity {
    width: 100%;
    margin-right: 0;
  }
  .wrap__quantity {
    flex-wrap: wrap-reverse;
    gap: 10px;
  }
  .cart-item .info {
    gap: 5px;
  }
  .wrap__quantity .wrap__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .cart-item .remove {
    margin-left: 0;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .cart__title .text-4xl {
    font-size: 28px;
    line-height: 32px;
  }
  .cart__title .text-base {
    font-size: 14px;
    line-height: 16px;
  }
  .wrap__btns {
    gap: 20px;
    margin-bottom: 20px;
  }
  .cart__card {
    padding: 15px;
  }
  .cart__card ul {
    gap: 8px;
    font-size: 14px;
    line-height: 16px;
  }
  .cart__card .total__card {
    margin-top: 20px;
  }
  .min-h-11 {
    min-height: 36px;
  }
}

@media (max-width: 480px) {
  .cart__title .text-4xl,
  .wrap__cart .text-4xl,
  .simple__products__title .text-4xl {
    font-size: 20px;
    line-height: 24px;
  }
  .simple__products__title.text-lg {
    font-size: 14px;
    line-height: 14px;
  }
  .wrap__btns {
    flex-direction: column;
    gap: 10px;
  }
  .product__card .product__price {
    gap: 10px;
  }
  .price__btn .text-15 {
    font-size: 14px;
    line-height: 16px;
  }
  .price__btn .text-2xl {
    font-size: 16px;
    line-height: 20px;
  }
  .product__card .text-2xl {
    font-size: 16px;
    line-height: 18px;
  }
}
