@import url("./_color.css");

main{
  overflow-x: hidden;
}

.faq__wrap {
  display: flex;
  gap: 120px;
  margin-top: 70px;
}

.faq__question {
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.faq__question ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.faq__question ul li {
  transition: 0.3s ease;
}

.faq__question ul li:hover {
  cursor: pointer;
  color: var(--yellow-500);
}

.faq__question ul .active {
  color: var(--yellow-500);
}

.faq__main {
  flex-grow: 1;
}

.open__modal .modal {
  display: flex;
}

.open__modal {
  overflow-y: hidden;
}

.faq__main ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.faq__main ul li {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
  padding-bottom: 25px;
  border-bottom: 2px solid var(--gray-100);
}
.rotate-180 {
  transform: rotate(180deg);
  color: var(--yellow-500);
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.rotate-180.rotate {
  transform: rotate(0deg) !important;
}

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: fixed;
  width: 100%;
  background: rgba(48, 48, 48, 0.6);
  top: 0;
}

.modal__content {
  width: 600px;
  background: var(--white);
  border-radius: 20px;
  padding-bottom: 20px;
  padding-right: 5px;
}

.modal__head {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 35px 0 25px 0;
  border-bottom: 1px solid var(--gray-600);
}

.modal__head span {
  position: absolute;
  right: 15px;
  top: 15px;
}

.modal__main {
  padding: 35px 60px;
  max-height: 75vh;
  overflow-y: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form input {
  height: 50px;
}
form input,
form textarea {
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid var(--gray-500);

  padding: 15px;
}

.btn__wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon:hover {
  cursor: pointer;
}

.max__lg {
  display: none;
}

@media (max-width: 1280px) {
  .faq__wrap {
    gap: 50px;
    margin-top: 40px;
  }
}
@media (max-width: 1024px) {
  .faq__wrap {
    gap: 30px;
    margin-top: 20px;
  }
  .faq__question {
    gap: 20px;
    width: auto;
  }
  .faq__question ul {
    gap: 20px;
    font-size: 16px;
    line-height: 16px;
  }
  .faq__wrap .btn__primary {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
  .faq__wrap .btn__primary.text-lg {
    font-size: 16px;
    line-height: 16px;
    border-radius: 8px;
  }
}
@media (max-width: 768px) {
  .max__lg {
    display: flex;
  }
  .faq__question.lg {
    display: none;
  }
  .faq__wrap {
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  .faq__main ul {
    font-size: 16px;
    line-height: 18px;
  }
  .faq__main ul .rotate-180 {
    font-size: 20px;
  }
  .faq__main ul li {
    padding-bottom: 10px;
  }
  .mt-5 {
    margin-top: 20px;
  }
  .modal__main,
  .modal__head {
    padding: 25px;
  }
  .modal__main .text-lg{
    font-size: 16px;
    line-height: 18px;
  }
  form input {
    height: 40px;
    padding: 10px;
  }
  .modal__content{
    width: calc(100% - 20px);
  }
  .modal__main .btn__primary{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
}

@media (max-width: 480px) {
  .faq__main ul {
    font-size: 14px;
    line-height: 16px;
  }
  .faq__main ul .rotate-180 {
    font-size: 18px;
  }
  .modal__main,
  .modal__head {
    padding: 15px;
  }
  .modal__main .text-2xl{
    font-size: 20px;
    line-height: 24px;
  }
}
