@import url("./_color.css");
@import url("./_text.css");

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../font/MuseoSansCyrl.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Museo Sans Cyrl", sans-serif;
}

body {
  min-height: 100vh;
}

button {
  outline: none;
  background: none;
}

input {
  border: none;
  background: inherit;
  outline: none;
  color: var(--dark-300);
}
textarea {
  outline: none;
  color: var(--dark-300);
}

input::placeholder {
  color: var(--gray-500);
  font-weight: 300;
}

textarea::placeholder {
  color: var(--gray-500);
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}
.main__header {
  display: flex;
  gap: 83px;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0;
  border-bottom: 1px solid var(--gray-100);
}

.main__header__left {
  display: flex;
  gap: 30px;
  align-items: center;
}
.logo {
  height: 38px;
  width: auto;
}

.main__header__left .wrap__contact {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.wrapper__search {
  flex-grow: 1;
  position: relative;
}

.main__header__search {
  flex-grow: 1;
  background: var(--gray-200);
  padding: 15px 20px;
  border-radius: 30px;
  display: flex;
  gap: 4px;
  align-items: center;
}

.search__result {
  display: none;
  position: absolute;
  top: 100%;
  margin-top: 5px;
  background: var(--white);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  z-index: 100;
  border-radius: 10px;
  padding: 20px 16px;
}

.search__result ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.search__result ul li {
  opacity: 0.8;
  transition: 0.3s ease;
}
.search__result ul li:hover {
  opacity: 1;
  cursor: pointer;
}

.main__header__search i {
  color: var(--gray-900);
}

.main__header__search input {
  flex-grow: 1;
}

.main__header__right {
  display: flex;
  gap: 25px;
  align-items: center;
}

.main__header__right .rigth__location {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: end;
}

.btn {
  transition: 0.3s ease;
}
.btn:hover {
  cursor: pointer;
}

.btn__link {
  border: 1px solid var(--gray-600);
  height: 34px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.btn__link:hover {
  border-color: var(--yellow-500);
  color: var(--yellow-500);
}

.wrap__drop {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 20px 0;
}

.wrap__drop ul {
  display: flex;
  gap: 30px;
  align-items: center;
}

.wrap__drop ul li {
  display: flex;
  gap: 4px;
  align-items: center;
}

.wrap__drop ul li:hover {
  cursor: pointer;
}

.wrap__drop ul li i {
  font-size: 20px;
  font-weight: 300;
}

.basket__button {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 48px;
  padding: 0px 10px;
  border-radius: 10px;
  background: var(--yellow-500);
}

.basket__button i {
  font-size: 24px;
}

.basket__button div {
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #ffffff99;
}

/* footer */

.footer__main {
  margin-top: 100px;
  padding: 40px 0 30px 0;
  border-top: 1px solid var(--gray-500);
  border-bottom: 1px solid var(--gray-500);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__main ul {
  display: flex;
  gap: 45px;
}

.footer__main div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__bottom {
  display: flex;
  gap: 60px;
  align-items: center;
  padding: 40px 0;
}

.footer__bottom ul {
  display: flex;
  gap: 40px;
  align-items: center;
}

.footer__bottom div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__bottom div a {
  width: 24px;
  height: 24px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--dark-300);
}

.more__modal__wrap {
  z-index: 10;
  display: none;
  position: absolute;
  top: 30px;
  left: -50%;
  transform: translateX(-50%);
  gap: 0px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 0px #30303026;
}

.more__modal__wrap .more__modal__main {
  background: var(--white);
  padding: 20px 15px;
  border-radius: 15px 0 0 15px;
}

.more__modal__wrap .more__modal__main ul {
  display: flex !important;
  flex-direction: column !important;
  gap: 20px !important;
}

.more__modal__wrap .more__modal__main ul li {
  display: flex !important;
  justify-content: space-between !important;
  align-items: start !important;
  width: 100%;
  gap: 40px !important;
  align-items: center;
  transition: 0.3s ease;
}

.more__modal__wrap .more__modal__main ul li:hover {
  cursor: pointer;
  color: var(--yellow-500);
}

.more__modal__wrap .more__modal__result {
  background: var(--gray-100);
  padding: 20px 15px;
  border-radius: 0 15px 15px 0;
}

.rotate-180 {
  transform: rotate(180deg);
}

.more__modal__result ul {
  max-width: 135px;
  width: 135px;
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.more__modal__result ul li {
  transition: 0.3s ease;
}

.more__modal__result ul li:hover {
  color: var(--yellow-500);
}

.menu__link {
  display: flex;
  align-items: center;
  gap: 4px;
}

.btn__primary {
  height: 50px;
  padding: 0 32px;
  background: var(--yellow-500);
  border-radius: 12px;
  border: none;
  outline: none;
}

.btn__primary:hover {
  cursor: pointer;
  opacity: 0.8;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.wrap__drop ul::-webkit-scrollbar {
  height: 3px;
}

.wrap__drop ul::-webkit-scrollbar-thumb {
  background-color: var(--yellow-500);
  border-radius: 2px;
}

.wrap__drop ul::-webkit-scrollbar-track {
  background-color: transparent;
}

.relative2 {
  position: relative;
}

.max_search__md,
.mobile__menu,
.logo__moblie,
.loc__maxsm,
.menu__maxsm,
.max__sm__basket {
  display: none;
}

@media (max-width: 1280px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
  .main__header {
    gap: 40px;
    padding: 20px 0;
  }
  .wrap__drop ul {
    height: 40px;
    overflow-x: auto;
    gap: 15px;
  }
  .wrap__drop ul li {
    min-width: max-content;
  }

  .footer__main ul,
  .footer__bottom ul {
    gap: 25px;
  }
}

@media (max-width: 1024px) {
  .drop_md,
  .search__md {
    display: none;
  }
  .max_search__md {
    display: flex;
  }
  .footer__main {
    margin-top: 60px;
    padding: 25px 0;
  }
  .footer__bottom {
    padding: 30px 0;
    gap: 15px;
    justify-content: space-between;
  }
  .footer__bottom ul {
    gap: 15px;
    font-size: 12px;
  }
  .footer__bottom div {
    gap: 15px;
  }
  .footer__main ul,
  .footer__main .text-lg {
    gap: 15px;
    font-size: 16px;
    line-height: 18px;
  }
}

@media (max-width: 768px) {
  .footer__main {
    margin-top: 40px;
    padding: 15px 0;
    align-items: start;
    gap: 0;
  }
  .main__header {
    gap: 25px;
    border-bottom: none;
  }
  .main__header__left,
  .main__header__right {
    gap: 10px;
  }
  .footer__main ul,
  .footer__main .text-lg {
    font-size: 14px;
    line-height: 16px;
  }
  .footer__main ul,
  .footer__bottom ul {
    flex-grow: 1;
    flex-wrap: wrap;
  }
  .footer__main ul li,
  .footer__bottom ul li {
    width: calc(50% - 15px);
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 10px;
  }
  .main__header {
    padding: 10px 0 20px 0;
  }
  .main__header__left .wrap__contact,
  .logo__pc,
  .loc__sm,
  .drop__maxsm {
    display: none !important;
  }
  .logo__moblie,
  .mobile__menu,
  .menu__maxsm,
  .max__sm__basket {
    display: flex;
  }
  .menu__maxsm {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    background: white;
    padding: 15px;
    transition: right 0.3s ease-in-out;
  }
  .menu__maxsm.open {
    right: 0;
  }
  .menu__maxsm ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .menu__maxsm .close__icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .main__header__search {
    padding: 10px 15px;
  }
  .maxsm__search {
    margin-bottom: 20px;
  }
  .search__result {
    font-size: 14px;
    line-height: 16px;
    padding: 10px 15px;
  }
  .loc__maxsm {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .basket__button {
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 6px;
  }
  .basket__button div {
    height: 28px;
    width: 28px;
    border-radius: 6px;
  }
  .maxsm__search {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .max__sm__basket div {
    position: absolute;
    top: 0px;
    right: -4px;
    height: 10px;
    width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    border-radius: 5px;
    background: var(--yellow-500);
  }
  .footer__main ul,
  .footer__bottom ul,
  .footer__bottom div {
    flex-direction: column;
    gap: 10px;
  }
  .footer__main ul li,
  .footer__bottom ul li {
    width: max-content;
  }
  .footer__bottom ul {
    align-items: start;
  }
  .footer__bottom {
    padding: 15px 0;
  }
}

.hidden {
  display: none;
}

.limit2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}