@import url("./_color.css");

.wrap__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
}

.wrap__form form {
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrap__form form label {
  font-size: 18px;
  font-weight: 500;
}

.wrap__form .form__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrap__form input {
  height: 50px;
  width: 100%;
  border: 1px solid var(--gray-500);
  border-radius: 10px;
  padding: 15px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  opacity: 0.7;
  cursor: pointer;
}

.checkbox-label input {
  display: none;
}

.custom-checkbox {
  min-width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background: #fff;
}
.custom-checkbox::after {
  content: "✔";
  font-size: 14px;
  color: var(--white);
  display: none;
}
input:checked + .custom-checkbox {
  background: var(--yellow-500);
  border-color: var(--yellow-500);
}
input:checked + .custom-checkbox::after {
  display: block;
}

.wrap__warn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding: 30px 50px;
  border-radius: 10px;
  border: 1px solid var(--red-500);
}

.wrap__total {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--gray-100);
}

.btn__primary {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

@media (max-width: 768px) {
  .wrap__form {
    gap: 25px;
  }
  .text-4xl {
    font-size: 32px;
    line-height: 36px;
  }
}

@media (max-width: 640px) {
  .text-4xl {
    font-size: 28px;
    line-height: 32px;
  }
  .wrap__warn {
    padding: 20px;
  }
  .wrap__form input {
    height: 40px;
    padding: 10px;
  }
  .wrap__total{
    padding: 15px;
  }
}
