.wrap__payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.payment__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.payment__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 24px;
  width: 240px;
  height: 180px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid var(--gray-500);
}

.payment__card div {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.payment__card img {
  width: 50px;
}

.btn__primary {
  width: 380px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .payment__card {
    width: 200px;
  }
  .text-4xl {
    font-size: 32px;
    line-height: 36px;
  }
}
@media (max-width: 768px) {
  .text-4xl {
    font-size: 28px;
    line-height: 32px;
  }

  .payment__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .payment__card {
    width: 100%;
    padding: 20px;
  }
}
@media (max-width: 640px) {
  .payment__cards {
    gap: 15px;
  }
  .payment__card {
    padding: 15px;
    height: 150px;
  }
  .text-4xl {
    font-size: 24px;
    line-height: 28px;
  }
}
